<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->

<!--
=======================================================================================
 Brooklyn HTML Template by United Themes (http://www.unitedthemes.com)
 Marcel Moerkens & Matthias Nettekoven 
=======================================================================================
-->

<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>Plan Your Event</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="css/reset.css" media="all">
    <link rel="stylesheet" href="css/ut-fontface.css" media="all">
    <link rel="stylesheet" href="css/font-awesome.css" media="all">
	<link rel="stylesheet" href="css/flexslider.css" media="all">
    <link rel="stylesheet" href="css/magnific-popup.css" media="all">
    <link rel="stylesheet" href="css/ut-responsive-grid.css" media="all">
    <link rel="stylesheet" href="css/style.css" media="all">
    
    
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
	<![endif]-->
    
    <!--[if lte IE 8]> 
		<link rel="stylesheet" type="text/css" href="css/ie8.css" />
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!-- Load jQuery
  	================================================== -->
  	<script src="js/jquery.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/device.min.js"></script>
    

    
</head>

<body id="mainsite">
	
    
    <a id="top"></a>
    
	<!-- Page Layout
	================================================== -->
    
     
    
    <div class="clear"></div>
    
	<!-- slider section -->
    <section class="slider hero ha-waypoint" data-animate-up="ha-header-hide" data-animate-down="ha-header-hide">
		<div class="parallax-overlay parallax-overlay-1"></div>
        
        <div class="grid-container">
            <!-- hero holder -->
            <div class="hero-holder grid-70 mobile-grid-100 tablet-grid-100">
            	<div class="hero-inner">
                    <span class="hero-description">Your Personal Event Planner</span>
                    <h1 class="hero-title">Plan your <span>event</span></h1>
                    <a  class="hero-btn" href="about.html">Get Started</a>
                </div>
            </div><!-- close hero-holder -->    													
    	</div>
        
        <!-- slider -->
        <div class="main-slider">
        	<ul class="slides">
        		<li style="background:url(images/slider/slide-3.jpg);"></li>
                <li style="background:url(images/slider/slide-4.jpg);"></li>
                <li style="background:url(images/slider/slide-5.jpg);"></li>
                <li style="background:url(images/slider/slide-6.jpg);"></li>
                <li style="background:url(images/slider/slide-7.jpg);"></li>
            </ul>
        </div>
        <!-- close slider -->
        
    </section>
    <!-- close hero section -->
    
    
	
    <div class="clear"></div>
    
	
</div>
	
    <!-- Load Javascript
  	================================================== -->
    <script src="js/jquery.mb.YTPlayer.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
   	<script src="js/jquery.custom.js"></script>
    
     <script type="text/javascript">
     /* <![CDATA[ */
		
		(function($){
	
		"use strict";
    		
			$(document).ready(function(){
				$(window).load(function(){
					$('.main-slider').flexslider({
						animation: "fade",
						directionNav:true
					});
				});
			});
			
		})(jQuery);
		
	/* ]]> */	
    </script>
    
<!-- End Document
================================================== -->
</body>
</html>